@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(30, 30, 30);
  color: white;
  font-family: 'Space Grotesk', sans-serif;
}
section {
  display: grid;
  place-content: center;
  min-height: 100vh;
  text-align: center;
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.logos .logo {
  display: flex;
  flex-direction: row;
  background-color: rgb(41, 41, 41);
  justify-content: space-evenly;
  margin-bottom: 10px;
  padding-bottom: 10%;
  border-radius: 10px;
}

.logo:nth-child(1) {
  transition-delay: 400ms;
}
.logo:nth-child(2) {
  transition-delay: 300ms;
}
.logo:nth-child(3) {
  transition-delay: 200ms;
}
.logo:nth-child(4) {
  transition-delay: 100ms;
}
